@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Vazirmatn:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl font-semibold;
}
h2 {
  @apply text-xl font-semibold;
}

@font-face {
  font-family: "Segeoui";
  src: url("fonts/segeoui.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Segeoui";
  src: url("fonts/segeouib.ttf");
  font-weight: 600;
}

#app,
html,
body {
  height: 100%;
}
div{
  padding: 0;
}
@media (min-width: 651px) {
  .ce-block__content,
  .ce-toolbar__content {
    max-width: calc(100% - 120px) !important;
    margin: 0 60px;
  }
}
.codex-editor--narrow .ce-toolbar__actions {
  right: 100%;
}

.codex-editor--narrow .ce-toolbox .ce-popover,
.codex-editor--narrow .ce-settings .ce-popover {
  left: 0;
}

.cdx-block {
  max-width: 100% !important;
}
