@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Vazirmatn:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segeoui";
  src: url("fonts/segeoui.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Segeoui";
  src: url("fonts/segeouib.ttf");
  font-weight: 600;
}

#app,
html,
body {
  height: 100%;
}
@media (min-width: 651px) {
  .ce-block__content,
  .ce-toolbar__content {
    max-width: calc(100% - 120px) !important;
    margin: 0 60px;
  }
}

.cdx-block {
  max-width: 100% !important;
}
